body{
    color: rgb(209, 210, 211);
    text-align: center;
    font-family: Arial, sans-serif;
}
h2{
    color: rgb(6, 6, 77);
    text-align: center;

}
body{
    background-color: rgb(54, 4, 49);
}
.profile-1{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 87%;
}
.profile-2{ 
    position: absolute;
    width: 150px;
    height: 150px;
    left: 87%;
}
.post.c{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 87%;

}